<h1>User</h1>

<p>Name: <%= @user.name if @user.name %></p>
<% @user.received.each do |link_id| %>
	<% @link = Link.find(link_id) %>
	<% @link.receivers.each do |arr| %>
		<% if arr[0]  == @user.id %>
			<% sender_id = arr[1] %>
			<% break %>
		<% end %>
	<% end %> 
	Title: <%= @link.title %>
	URL: <%= @link.url %>
	Sender: <%= (User.find(sender_id)).name)
	Points: <%= @link.points %>
<% end %>